rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /cafes/{cafeId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}